.sidebar
.main
	h1 ewanhowell5195
	br
	.row
		.home
			img.homeImage(data-src=require("../../assets/images/showcase-images/f8thful/farm.png").default)
		.home
			p1 I make a large variety of resource packs for Java edition, with some ported across to bedrock edition. These can range from completely redesigning the in-game textures, to recreating features from unreleased updates, to making "cursed" entity models.
	br
	.row
		.home
			p1 I make 3D models of characters and objects from video games and movies, then render them in blender! You can view them all by following my Instagram
			a(target="_blank" href="https://www.instagram.com/ewan.howell/")  [here]
		.home
			img.homeImage(data-src=require("../../assets/images/home/glados.png").default)
	br
	.row
		.home
			img.homeImage(data-src=require("../../assets/images/home/eh.png").default)
		.home
			p1 My YouTube Channel is the place where I showcase all the resource packs that I make. You can also find other content such as tutorials on resource pack making and Minecraft modelling.
.sidebar